<a href="https://colab.research.google.com/github/lifod/TSC/blob/main/%EC%9E%AC%EA%B7%80%ED%95%A8%EC%88%98(%ED%8C%A9%ED%86%A0%EB%A6%AC%EC%96%BC%2C_%ED%94%BC%EB%B3%B4%EB%82%98%EC%B9%98_%EC%88%98%EC%97%B4%2C_%ED%95%98%EB%85%B8%EC%9D%B4%ED%83%91).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#  ▶print 함수

*  print( ) 함수는 괄호안의 문자, 숫자를 출력하는 함수입니다. 문자는 반드시 큰(작은)따옴표로 표시해줘야 합니다. 



*  숫자는 그냥 입력해도 출력됩니다. (문자열과 숫자의 연산을 동시에 출력할 때는 ,로 따로 구분해야합니다.)

In [ ]:
print("Hello world")

print("오늘은 10월 9일 한글날 휴일(?)입니다")

print(253)

print("내 나이는",20+14)

Hello world
오늘은 10월 9일 한글날 휴일(?)입니다
253
내 나이는 34


#▶숫자 연산자

*  파이썬에서 수를 계산할 때 사용되는 연산자(덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지, 제곱)

In [ ]:
print(3+3)

print(3-4)

print(3*4)

print(3/3)

print(4//3)

print(5%3)

print(5**3)

#▶ 복합 대입 연산자

*  연산을 한 후 값을 다시 변수로 지정하는 연산

In [ ]:
a=100

a+=20 
print(a)

a-=10
print(a)

a*=10       
print(a)

a/=5
print(a)

#▶ 비교 연산자

*  숫자를 비교하여 참, 거짓을 만들 수 있는 연산자

In [ ]:
print(5==20)

print(5!=2)

print(10<100)

print(5>=20)

#▶ 변수 선언

*  기본적으로 등호를 사용한 방법과 input(  )함수를 사용한 방법이 있다.

In [ ]:
a=3.12
print(a)

b=2.41
print(b)

print(a+b)

c=int(input("원하는 숫자를 입력해주세요 :"))

print(b+c)

#▶ 자료형

*  문자열, int자료형(정수), float자료형(실수) 


---
위에서 오류가 난 이유는 input함수로 지정한 값의 자료형은 무조건 문자열이기 때문이다. 

이를 숫자로 인식하여 계산하고 싶다면 int함수(또는 float)를 사용해 자료형을 바꿔줘야한다.

In [ ]:
b=2.41
c=int(input("원하는 숫자를 입력해주세요 :"))
print(b+c)

#▶ if 조건문

*  조건이 True(참)일 경우 아래 문장을 실행합니다. 

---
기본 구조

if 참, 거짓을 판별할 수 있는 표현식 : (콜론을 반드시 붙여줘야함)
         표현식이 참일 때 실행할 문장1
         표현식이 참일 때 실행할 문장2
1. 위에서 밑줄친 표현식이 참일 때 아래 문장이 실행됩니다. 
2. 표현식 옆에 콜론은 반드시 붙여야 합니다.
3. 아래 참일 때 실행할 문장은 4칸 들여쓰기 후 입력합니다
(스튜디오(IDE, 쥬피터)에서 엔터를 누르면 자동으로 들여쓰기 합니다)

In [ ]:
a=6
if a>5 :
    print("a는 5보다 큽니다")

b=int(input("숫자를 입력해 주세요"))
if b>0:
    print("b는 양수입니다")

if b<0:
    print("b는 음수입니다")

if b==0:
    print("b는 0입니다")

#▶ if 조건문

*  else : 만약 if 의 조건문이 거짓이면 실행됩니다.
*  elif : 만약 if의 조건문이 거짓일 때 elif 조건문이 참이면 실행됩니다.

In [ ]:
a=int(input("1이상의 정수 입력 >"))

if a%2==0:
    print("짝수입니다")

else:
    print("홀수입니다")



b=int(input("숫자를 입력해 주세요"))
if b>0:
    print("b는 양수입니다")

elif b<0:
    print("b는 음수입니다")

elif b==0:
    print("b는 0입니다")

1이상의 정수 입력 >4
짝수입니다
숫자를 입력해 주세요12
b는 양수입니다

#▶ 함수

* def      함수이름     (변수)   : 
   
   함수에 포함할 문장(코드)
   
   return 

한번 정의한 후 필요에 따라 사용할 수 있다는 장점이 있다.

In [ ]:
def equation(x) :
  y=x**2-4*x+5
  print(y)

equation(3)

2

In [ ]:
b=int(input("숫자를 입력해 주세요"))

if b>0 :
  print("b는 양수입니다")

if b<0 :
  print("b는 음수입니다")

if b==0 :
    print("b는 0입니다")


#를 함수로 정의하면 다음과 같다.

def my_int(n):
  if n>0 :
    print(n,"는 양수입니다")  

  elif n<0:
    print(n,"은 음수입니다")

  else :
    print(n,"은 0입니다")

my_int(-2)

숫자를 입력해 주세요20
b는 양수입니다
-2 은 음수입니다

#▶ 함수의 변수

* 함수를 정의했을 때, 함수 외부에 있는 함수에서 인식하게 하려면 다음과 같은 구문이 필요하다

   global 변수

In [ ]:
# 아래와 같이 입력하면 원하는 값이 나올까요?
my_variable=5

def my_equation(x):
  my_variable=x+my_variable
  return my_variable

my_equation(6)


# my_variable는 함수 밖에서 정의된 변수이기 때문에 함수 안에서 사용하기 위해선 다음과 같이 해야합니다.

my_variable=5

def my_equation(x):
  global my_variable
  my_variable=x+my_variable
  return my_variable

my_equation(6)

UnboundLocalError: ignored

#▶ 팩토리얼

#▶ 피보나치수열

#▶ 하노이 탑

In [ ]:
def hanoi(n,시작,보조,목표):
  if n==1:
    print(시작, "->" ,목표)
    
  else :
    hanoi(n-1,시작,목표,보조)
    print(시작,"->",목표)
    hanoi(n-1,보조,시작,목표)

hanoi(4,1,2,3)

1 -> 2
1 -> 3
2 -> 3
1 -> 2
3 -> 1
3 -> 2
1 -> 2
1 -> 3
2 -> 3
2 -> 1
3 -> 1
2 -> 3
1 -> 2
1 -> 3
2 -> 3

In [ ]:
counter=0

def hanoi(n,시작,보조,목표):
  global counter
  counter+=1

  if n==1:
    print(시작, "->" ,목표)
    
  else :
    hanoi(n-1,시작,목표,보조)
    print(시작,"->",목표)
    hanoi(n-1,보조,시작,목표)

hanoi(4,1,2,3)
print(counter)

1 -> 2
1 -> 3
2 -> 3
1 -> 2
3 -> 1
3 -> 2
1 -> 2
1 -> 3
2 -> 3
2 -> 1
3 -> 1
2 -> 3
1 -> 2
1 -> 3
2 -> 3
15